<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">About</h5>
      <p>Demo website from <a href="http://mercurysystemsinc.com/">Mercury Systems Inc.</a></p>
      <h5 class="card-title">Tech Stack</h5>
      <h6>Frontend</h6>
      <ul>
        <li>Angular 6</li>
        <li>Angular Material</li>
        <li>Bootstrap</li>
      </ul>
      <h6>Backend</h6>
      <ul>
        <li>Java</li>
        <li>Spring Boot, Spring MVC, Spring AOP, Spring Security, Spring Data JPA</li>
        <li>Hibernate</li>
        <li>Oracle</li>
      </ul>
      <h6 *appColorRedAlertHello>Devops</h6>
      <ul>
        <li>AWS</li>
        <li>Jenkins</li>
        <li>Docker</li>
        <li>ActiveMQ</li>
      </ul>
    </div>
  </div>
</div>
