<div class="container-fluid" *ngIf="product">
  <div class="row product-detail-container">
    <div class="col-sm-9">
      <div class="product-detail-title">
        <h1>{{product.name}}</h1>
      </div>
      <div class="product-detail-image-container text-center">
        <img src="{{product.image}}" class="product-detail-image">
      </div>
    </div>
    <div class="col-sm-3 product-detail-info-container">
      <div class="product-detail-info-price">
        {{product.price | currency}}
      </div>
      <div class="product-detail-info-brand">
        Sold by {{product.brand}}
      </div>
      <div class="product-detail-info-cart-button-container">
        <span *ngIf="(authService.userSubject | async); else login">
          <button mat-raised-button color="primary" class="btn-block" (click)="addToCart()">ADD TO CART</button>
        </span>
        <ng-template #login>
          <button mat-raised-button color="accent" class="btn-block" routerLink="/users/login">LOGIN TO BUY</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
