img {
  display: block;
  margin: 0 16px;
  max-height: 105px;
  max-width: 105px;
  vertical-align: middle;
}
.cart-item-container {
  width: 100%;
}
.example-fill-remaining-space {
  flex: 1 1 auto;
}
mat-card-title {
  display: flex;
}
.text-middle {
  display: flex;
  align-items: center;
}
.cart-item-price {
  margin-left: 20px;
}
mat-form-field {
  width: 60px;
}
.cart-item-info {
  font-size: 14px;
  color: rgba(0,0,0,0.87);
}
button {
  margin-left: 10px;
}
.container {
  margin-top: 20px;
}
mat-list-item {
  height: 120px !important;
}
