<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Event Tracking System</h1>
    <span class="menu-spacer"></span>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
      <div>
        <a mat-button routerLink="/demo">Demo</a>
        <a mat-button routerLink="/public">Public</a>
        <a mat-button routerLink="/user" *ngIf="authService.isLoggedIn()">User</a>
        <a mat-button routerLink="/admin" *ngIf="authService.isLoggedIn() && authService.isAdmin()">Admin</a>
      </div>
      <div>
        <span *ngIf="authService.isLoggedIn(); else login">
          <a mat-button style="text-decoration: underline;">{{authService.getUser().name}}</a>
          <a mat-button (click)="logout()">Logout</a>
        </span>
        <ng-template #login>
          <a mat-button routerLink="/login">Login</a>
        </ng-template>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
