<div fxLayout fxLayoutAlign="center" style="margin: 50px 50px;">
  <mat-card fxLayout="column" fxFlex="1 1 50%" fxFlex.lt-sm="1 1 auto">
    <mat-card-title>Register</mat-card-title>
    <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit()" fxLayout="column" #registerForm="ngForm">
      <mat-form-field>
        <mat-placeholder>Name</mat-placeholder>
        <input type="text" matInput id="name" formControlName="name" required>
        <mat-error *ngIf="(registerForm.submitted || registerFormGroup.get('name').touched) && registerFormGroup.get('name').invalid">
          Name can't be empty!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-placeholder>Email</mat-placeholder>
        <input type="text" matInput id="email" formControlName="email" required>
        <mat-error *ngIf="(registerForm.submitted || registerFormGroup.get('email').touched) && registerFormGroup.get('email').invalid">
          Email can't be empty!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-placeholder>Password</mat-placeholder>
        <input type="password" matInput id="password" formControlName="password" required>
        <mat-error *ngIf="(registerForm.submitted || registerFormGroup.get('password').touched) && registerFormGroup.get('password').invalid">
          Password can't be empty!
        </mat-error>
      </mat-form-field>
      <p>
        <button type="submit" mat-raised-button color="primary">Register</button>
      </p>
    </form>
  </mat-card>
</div>
